<!DOCTYPE html>
<html>
<head>
  <title>Stores</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<% if flash[:notice]%>
		<div class="alert alert-info"><%= flash[:notice] %></div>
	<% end %>
</div>
<section class="container">
	<% %>
		<ol class="breadcrumb">
		  <li><%= link_to "Home", "/home" %></li>
		  <% if current_admin %>
		  	<li><%= link_to "Add Category", "/addcategory" %> </li>
		  	<li><%= link_to "Approve Stores", "/allstores" %> </li>
		  	<li><%= link_to "All Categories", "/allcategories" %> </li>
		  	<li><%= link_to "All Stores", "/allstoress" %> </li>
		  	<li><%= link_to "Logout", "/adminout" %> </li>
		  <% else %>
			<li><%= link_to "Admin Login", "/adminroute" %> </li>
		  	<li><%= link_to "Store Login", "/storesin" %></li>
		  	<li><%= link_to "Store Signup", "/storesignup" %></li>
		  	<li><%= link_to "About" , "/about" %></li>
		  <% end %>
		</ol>
	<%  %>
</section>

<div class="container">
	<div id="left_column" class="column col-xs-12 col-sm-3">
		<div class="cataghead">
			<h2>Category</h2>
		</div>
		<% if !allcategories.blank? %>
		  <% for item in allcategories %>    
		  	<div class="central">
				<%= item.name %>
			</div>
		  <% end %>
		<% else %>
			<div class="central">
				Laptops
			</div>
		<% end %>
		
		<div class="attachbotom">
		</div>
	</div>
	<%= yield %>
</div>
</body>
</html>
